#Unity
Library
Standard Assets
Temp
UnityPackageManager
EffectExamples

#Mac
.DS_Store

#IDE
*.ide-wal
.vs/GGJ2018/v15/.suo
.vs/GGJ2018/v15/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.csproj
*.sln
*.userprefs

#JetBrains Rider
.idea
*.sln
JetBrains

#Git
.gitignore.log
Assets/scripts/Projectile.cs
